[Unit]
Description=DramaFlux Backend Gunicorn Daemon
Requires=dramaflux-backend.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/dramaflux/dramaflux-backend
ExecStart=/home/ubuntu/dramaflux/dramaflux-backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/ubuntu/dramaflux/dramaflux-backend/dramaflux.sock \
          dramaflux.wsgi:application

[Install]
WantedBy=multi-user.target
